.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   
    
}
.content1{
    margin-top: 18%;
    margin-right: 2%;
   
}

.title{
    color: #ffb100;
    font: bold;
    margin-top: 20%;
}

.formulaire{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10%;
    border: 1px solid black;
    width: 30%;
    padding: 2%;
    border-radius: 10px;
    
    
}


.row1 div{
    margin-right: 20%;
}
.row-colunm{
    display: flex;
    flex-direction: column;
}

.row3{
    margin-top: 60%;
    margin-right: 5%;
    
    
}



.btn{
    border: 1px solid #ffb100;
    padding: 2% 8%;
    border-radius: 5%;
    background-color: #ffb100;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
    
   
}

